# postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=shelter

# rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_RETRY=5
RABBITMQ_TIMEOUT=5000

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=admin

# grafana
GF_SECURITY_ADMIN_PASSWORD=password
GF_USERS_ALLOW_SIGN_UP=false

# pgadmin
PGADMIN_DEFAULT_EMAIL=schiriy_maxim@icloud.com
PGADMIN_DEFAULT_PASSWORD=staging-secret-password
